@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-prev {
  z-index: 10;
  margin-left: 30px;
  margin-top: -50px;
}

.slick-next {
  z-index: 10;
  margin-right: 53px;
  margin-top: -50px;
}